<html>
<head>  
<meta http-equiv="content-type" content="text/html; charset=utf8">
</head>
    <body> 
            恭喜:<font color = 'green'>${username}</font>, 在淘宝网：<font color='red' size='30'>注册成功</font>
            <div>
                <img src = "cid:qqmusic"></img>
            </div>
    </body>
</html>